<ul>
  <% @bookmark.array.each do |link| %>
  <li> <%= link %></li>
  <% end %>
</ul>


<!--

<a href=<%= @bookmark.array[0] %>><%= @bookmark.array[0] %></a>
<a href=<%= @bookmark.array[1] %>><%= @bookmark.array[1] %></a>
<a href=<%= @bookmark.array[2] %>><%= @bookmark.array[2] %></a> -->
