<link rel="stylesheet" href="/style.css"/>

<body>

  <form action="/bookmarks/new" method='get'>
    <input type="submit" value="Add Bookmark">
  </form>

  <h1><%=flash[:notice]%></h1>

  <ul>
    <% @bookmarks.each do |bookmark| %>

      <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a>
        <br>
        <form action="/bookmarks/delete" method="post">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="submit" value="Delete Bookmark">
        </form>
        <form action="/bookmarks/update" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="submit" value="Update Bookmark">
        </form>
        <form action="/bookmarks/comments" method="get">
          <input type="hidden" name="id" value="<%= bookmark.id %>">
          <input type="hidden" name="title" value="<%= bookmark.title %>">
          <input type="submit" value="Comments">
        </form>
      </li>

    <% end %>


  </ul>

</body>
